/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Exa:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poiret+One&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

/* Global styles */

:root {
    --primary-font: 'Nunito', sans-serif;
    --secondary-font: 'Alegreya', serif;
}

header {
    background-color: #ff8400;
}

button {
    border: 2px solid #ff8400;
}

h1 {
    font-family: var(--secondary-font);
    color: #fff;
}